h-and-m-personalized-fashion-recommendations
click_predict
project_plan.txt
config.ini
query.sql
Processed_Images
Processed_Images_2
data_col.ipynb
popularity.db
features.db
all_data.db
Test_images
Test_all
New_test
Test.ipynb
assets/
__pycache__/
data/
best_pca_model.pkl
helpers.py